<div class="alert alert-danger" ng-show="error">
	<strong>Oops!</strong>There was a problem logging in. Please try again
</div>
<div class="alert alert-success" ng-show="signupSuccess">
	<strong>Signup Success!</strong> Please login with your new credentials
</div>
<form role="form" ng-submit="controller.login()">
	<div class="form-group">
		<label for="username">Username:</label> <input type="text"
			class="form-control" id="username" name="username" ng-model="controller.credentials.username" ng-required="true"/>
	</div>
	<div class="form-group">
		<label for="password">Password:</label> <input type="password"
			class="form-control" id="password" name="password" ng-model="controller.credentials.password" ng-required="true"/>
	</div>
	<button type="submit" class="btn btn-primary">Login</button>
</form>
