    
  <div id="userhomebody"> 
    <nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">FIBI</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<!-- <li class="active"><a href="#">Home</a></li> -->
					<!-- <li><a href="#">Messages</a></li> -->
				</ul>
				<form class="navbar-form navbar-right" role="search">
					<div class="form-group input-group">
						<input type="text" class="form-control" placeholder="Search..">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span>
							My Account</a></li> -->
					<li><a href="#" data-toggle="tooltip" title="logout"
						ng-click="logout()"> <span class="glyphicon glyphicon-log-out"></span>
					</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
    <!-- Modal -->
	<div class="modal" id="UpcomingTravelSearchResultsModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Upcoming Travels</h4>
				</div>
				<div class="modal-body">
					<div class="table-responsive">
						<table class="table" border="1" id="resultsTable">
							<thead class="thead-inverse">
								<td>Name</td>
								<td>Departure</td>
								<td>Destination</td>
								<td>Date</td>
								<td>Flight</td>
								<td>Weight(kgs)</td>
								<td>Contact</td>
							</thead>
							<tbody ng-repeat="result in upcomingTravelSearchResult">
								<tr>
									<td>{{result.user.firstName}}</td>
									<td>{{result.departureCity}}</td>
									<td>{{result.destinationCity}}</td>
									<td>{{result.startDate}}</td>
									<td>{{result.flightNo}}</td>
									<td>{{result.weight}}</td>
									<td style="width: 16%;"><a
										href="mailto:{{result.user.email}}?Subject=Hello%20{{result.user.firstName}}"
										target="_top"> <!-- <img src="img/email-send-icon.png"/></a> -->
											<img src="img/email-send-icon.png"
											style="width: 42%; margin-left: 28%;"></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	
	<!-- Modal -->
	<div class="modal" id="SearchResultsModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Search Results</h4>
				</div>
				<div class="modal-body">
					<div class="table-responsive">
						<table class="table" border="1" id="resultsTable">
							<thead class="thead-inverse">
								<td>Name</td>
								<td>Departure Date</td>
								<td>Flight</td>
								<td>Weight(kgs)</td>
								<td>Contact</td>
							</thead>
							<tbody ng-repeat="result in searchResult">
								<tr>
									<td>{{result.user.firstName}}</td>
									<td>{{result.startDate}}</td>
									<td>{{result.flightNo}}</td>
									<td>{{result.weight}}</td>
									<td style="width: 16%;"><a
										href="mailto:{{result.user.email}}?Subject=Hello%20{{result.user.firstName}}"
										target="_top"> <!-- <img src="img/email-send-icon.png"/></a> -->
											<img src="img/email-send-icon.png"
											style="width: 42%; margin-left: 28%;"></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<div class="container text-center">
		<div class="row">
			<div class="col-sm-3">
				<div class="profile-sidebar">
					<div class="profile-userpic">
						<img src="{{greeting.profilePic}}" class="img-responsive" alt="">
					</div>
					<div class="profile-usertitle">
						<div class="profile-usertitle-name"><span ng-bind="greeting.firstName"></span></div>
					</div>
					<div class="profile-usermenu">
						<ul class="nav">						   
						    <li><a href="#"> <i class="glyphicon glyphicon-user"></i>
									Account Settings
							</a></li>
							<li class="active"><a href="#" ng-click="showCommunityMessageBoard()"> <i
									class="glyphicon glyphicon-home"></i> Message Board
							</a></li>
							<li><a href="#" ng-click="redirectToSearchTravel()"> <i
									class="glyphicon glyphicon-plane"></i> Travel
							</a></li>
							<li><a href="#" ng-click="showRestaurants()"> <i
									class="glyphicon glyphicon-cutlery"></i> Restaurants
							</a></li>
							<li><a href="#"> <i class="glyphicon glyphicon-pushpin"></i>
									Events
							</a></li>
							<li><a href="#"> <i class="glyphicon glyphicon-home"></i>
									Apartments
							</a></li>
							<li><a href="#"> <i class="glyphicon glyphicon-book"></i>
									Used Items
							</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-7">

				<div class="row">
					<div class="col-sm-12">
						<div class="alert alert-success fade in">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<p>
							 <div>
                                 <strong>Welcome {{greeting.firstName}} !</strong>
                             </div>						
							</p>
							
							Good to see you!!
						</div>
					</div>
				</div>

				<div class="row ">

					<div class="col-sm-12" ng-show="showcommunitymessageboard" >
						<form name="form" role="form">
							<div class="panel panel-primary">
								<div class="panel-heading">Message Board <span class="label label-warning">{{greeting.community}}</span></div>
								<div id="scrollBarDiv" class="pre-scrollable">
									<div class="panel-body">
										<ul class="media-list">
											<li class="media" ng-repeat="message in messageBoardMessages">
												<div style="color: #202223;">
													<div>
														<a class="pull-left" href="#"> <img
															class="media-object img-circle " src="img/avatarchat.png" />
														</a>
														<div>
															{{message.message}} <br /> <small class="text-muted">
																{{message.user.firstName}} | {{message.postedDate}}</small>
															<hr style="max-width: 500%; border-color: antiquewhite;">
														</div>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<div class="panel-footer">
									<div class="input-group">
										<input type="text" id="messageText" class="form-control"
											ng-model="controller.postMessage" placeholder="Enter Message" />
										<span class="input-group-btn">
											<button class="btn btn-info"
												ng-click="postMessage(greeting.community,greeting.userId,greeting.firstName)"
												type="submit">Post Message</button>
										</span>
									</div>
								</div>
							</div>
						</form>
					</div>
					
					<!-- Travel -->
					<div class="col-sm-12" ng-show="showtravels">
						<div>
							<p>Choose your option</p>
							<form name="form" role="form">
								<button type="submit" ng-click="redirectToSearchTravel()"
									class="btn btn-primary">Travellers</button>
								<button type="submit" ng-click="redirectToTravelDetails()"
									class="btn btn-primary">I'm Travelling</button>
							</form>
						</div>
					</div>

					<div class="col-sm-12" ng-show="showSearchTravel">
						<div>
							<form name="form" role="form">
								<div id="home-content">
									<section id="js-search-controls-container"
										class="search-controls   opaque-on-desktop">
										<form class="clearfix">
											<section class="traditional-search clearfix">
												<h3>Search Travellers</h3>
												<div id="js-places" class="search-controls-places clearfix">
													<div class="origin-place" style="direction: ltr;">
														<label for="js-origin-input" class="place-label">From</label>
														<input type="text" id="js-origin-input"
															placeholder="Departure place"
															ng-model="controller.searchDetails.from" tabindex="1"
															autocomplete="off" autocorrect="off" autocapitalize="off"
															spellcheck="false" class="tt-input" dir="auto"
															style="position: relative; vertical-align: top;"
															ng-autocomplete="deptAirport" details="deptAirportDetails1" options="options1">
														<pre aria-hidden="true"
															style="position: absolute; visibility: hidden; white-space: pre; font-family: -apple-system, BlinkMacSystemFont,&amp; amp; amp; amp; amp; quot; Segoe UI&amp;amp; amp; amp; amp; quot; , Roboto , Oxygen, Ubuntu, Cantarell, &amp;amp; amp; amp; amp; quot; Fira Sans&amp;amp; amp; amp; amp; quot; , &amp; amp; amp; amp; amp; quot; Droid Sans&amp;amp; amp; amp; amp; quot; , &amp; amp; amp; amp; amp; quot; Helvetica Neue&amp;amp; amp; amp; amp; quot; , Arial , sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
														<span class="tt-dropdown-menu"
															style="position: absolute; left: 0px; z-index: 100; display: none; right: auto;"><div
																class="tt-dataset-origin"></div></span>
													</div>
													<button type="button" ng-click="swapLocations()"
														id="js-places-toggle" class="swap-button"
														title="Click here to swap locations">
														<span class="visuallyhidden">Click here to swap
															locations</span>
													</button>
													<div class="destination-place" style="direction: ltr;">
														<label for="js-destination-input" class="place-label">To</label>
														<input type="text" id="js-destination-input"
															placeholder="Destination place"
															ng-model="controller.searchDetails.to" tabindex="1"
															autocomplete="off" autocorrect="off" autocapitalize="off"
															spellcheck="false" class="tt-input" dir="auto"
															style="position: relative; vertical-align: top;"
															ng-autocomplete="destAirport" details="destAirportDetails1" options="options1">
														<pre aria-hidden="true"
															style="position: absolute; visibility: hidden; white-space: pre; font-family: -apple-system, BlinkMacSystemFont,&amp; amp; amp; amp; amp; quot; Segoe UI&amp;amp; amp; amp; amp; quot; , Roboto , Oxygen, Ubuntu, Cantarell, &amp;amp; amp; amp; amp; quot; Fira Sans&amp;amp; amp; amp; amp; quot; , &amp; amp; amp; amp; amp; quot; Droid Sans&amp;amp; amp; amp; amp; quot; , &amp; amp; amp; amp; amp; quot; Helvetica Neue&amp;amp; amp; amp; amp; quot; , Arial , sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
														<span class="tt-dropdown-menu"
															style="position: absolute; left: 0px; z-index: 100; display: none; right: auto;"><div
																class="tt-dataset-destination"></div></span>
													</div>
													<div class="origin-place" style="direction: ltr;">
														<label for="js-origin-input" class="place-label">Start
															Date</label>
														<datepicker date-format="MMMM d, y"> <input
															type="text" placeholder="Start date"
															ng-model="controller.searchDetails.startDate"
															id="js-destination-input" tabindex="1" autocomplete="off"
															autocorrect="off" autocapitalize="off" spellcheck="false"
															class="tt-input" dir="auto"
															style="position: relative; vertical-align: top;" /> </datepicker>
														<pre aria-hidden="true"
															style="position: absolute; visibility: hidden; white-space: pre; font-family: -apple-system, BlinkMacSystemFont,&amp; amp; amp; amp; amp; quot; Segoe UI&amp;amp; amp; amp; amp; quot; , Roboto , Oxygen, Ubuntu, Cantarell, &amp;amp; amp; amp; amp; quot; Fira Sans&amp;amp; amp; amp; amp; quot; , &amp; amp; amp; amp; amp; quot; Droid Sans&amp;amp; amp; amp; amp; quot; , &amp; amp; amp; amp; amp; quot; Helvetica Neue&amp;amp; amp; amp; amp; quot; , Arial , sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
														<span class="tt-dropdown-menu"
															style="position: absolute; left: 0px; z-index: 100; display: none; right: auto;"><div
																class="tt-dataset-origin"></div></span>
													</div>
													<div class="destination-place" style="direction: ltr;">
														<label for="js-destination-input" class="place-label">End
															Date</label>
														<datepicker date-format="MMMM d, y"> <input
															type="text" ng-model="controller.searchDetails.endDate"
															placeholder="End date" id="js-destination-input"
															tabindex="1" autocomplete="off" autocorrect="off"
															autocapitalize="off" spellcheck="false" class="tt-input"
															dir="auto"
															style="position: relative; vertical-align: top;" /> </datepicker>
														<pre aria-hidden="true"
															style="position: absolute; visibility: hidden; white-space: pre; font-family: -apple-system, BlinkMacSystemFont,&amp; amp; amp; amp; amp; quot; Segoe UI&amp;amp; amp; amp; amp; quot; , Roboto , Oxygen, Ubuntu, Cantarell, &amp;amp; amp; amp; amp; quot; Fira Sans&amp;amp; amp; amp; amp; quot; , &amp; amp; amp; amp; amp; quot; Droid Sans&amp;amp; amp; amp; amp; quot; , &amp; amp; amp; amp; amp; quot; Helvetica Neue&amp;amp; amp; amp; amp; quot; , Arial , sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
														<span class="tt-dropdown-menu"
															style="position: absolute; left: 0px; z-index: 100; display: none; right: auto;"><div
																class="tt-dataset-origin"></div></span>
													</div>
												</div>
												<button class="btn btn-primary" tabindex="1"
													data-toggle="modal" data-target="#SearchResultsModal"
													ng-click="searchTravellers()">
													<span class="wc-button-point" role="presentation"
														aria-hidden="true"></span> <span class="wc-button-text">Search</span>
												</button>
												<button type="submit" ng-click="redirectToTravelDetails()"
													class="btn btn-primary">Are you travelling ?</button>
											</section>
										</form>
									</section>
								</div>
							</form>
						</div>
					</div>

                  
					<div class="col-sm-12" ng-show="showImTravelling">
						<div id="travelDetailsDiv">
							<div class="alert alert-success"
								ng-show="travelDetailsStoreSuccess">
								<strong>Success!</strong> Travel details added successfully.
							</div>

							<form name="form" role="form">
								<fieldset>
									<legend>Travel Details</legend>
									<div class="form-group">
										<label for="from">From:</label> <input type="text"
											class="form-control" id="from" name="from"
											ng-model="controller.travelDetails.from"
											placeholder="Departure City" ng-required="true" 
											ng-autocomplete="deptAirport" details="deptAirportDetails2" options="options1"/>
									</div>
									<div class="form-group">
										<label for="to">To:</label> <input type="text"
											class="form-control" id="to" name="to"
											ng-model="controller.travelDetails.to"
											placeholder="Destination City" ng-required="true"
											ng-autocomplete="destAirport" details="destAirportDetails2" options="options1" />
									</div>
									<div class="form-group">
										<label for="country">Departure Date:</label> <input
											type="datetime-local" class="form-control" id="datetime"
											name="datetime" placeholder="Date of Departure"
											ng-model="controller.travelDetails.datetime" />
									</div>

									<div class="form-group">
										<label for="flightNo">Flight No:</label> <input type="text"
											class="form-control" id="flightNo" name="flightNo"
											placeholder="Flight No"
											ng-model="controller.travelDetails.flightNo" />
									</div>
									<div class="form-group">
										<label for="weight">Weight you can carry:</label> <input
											type="text" class="form-control" id="weight" name="weight"
											placeholder="Weight in kgs"
											ng-model="controller.travelDetails.weight" />
									</div>

								</fieldset>
								<button ng-disabled="form.$invalid" class="btn btn-primary"
									ng-click="saveTravelDetails()">Submit</button>
								<!-- <button type="button" ng-click="redirectToHome()" class="btn btn-primary">Home</button> -->
							</form>

						</div>
					</div>
					
					<!-- Restaurants -->
					<div class="col-sm-12" ng-show="showrestaurants">
					 <div class="button_box2">
						<form class="form-wrapper-2 cf">
							<input type="text" placeholder="City name" id="Autocomplete" 
								class="form-control" ng-model="restaurantCityName"
								ng-autocomplete="result1" details="details1" options="options1" required>
							<button type="submit" ng-click="getRestaurants()">Locate</button>
						</form>
					 </div>
					</div>
					
					<div class="col-sm-12" id="map" ng-show="showmap">  </div>
					
				</div>
			</div>
			<div class="col-sm-2">
			  <!-- <div class="affix"> -->
				<div class="panel panel-primary">
					<div class="panel-heading">Upcoming Travels</div>
					<div class="panel-body" ng-repeat="result in upcomingTravelSearchResult | limitTo:1">
					    <strong>{{result.user.firstName}}</strong> will be travelling shortly.
					    <hr>
					     <button class="btn btn-primary" tabindex="1"
													data-toggle="modal" data-target="#UpcomingTravelSearchResultsModal"
													ng-click="searchTravellers()">
													<span class="wc-button-point" role="presentation"
														aria-hidden="true"></span> <span class="wc-button-text">More Info</span>
						</button>
					</div>
					<div class="panel-body" ng-show="!upcomingTravelSearchResult.length">
					    <strong>No travels registered in next three months</strong>
					    <hr>
					     <button class="btn btn-primary" tabindex="1"
													data-toggle="modal" data-target="#UpcomingTravelSearchResultsModal"
													ng-click="searchTravellers()">
													<span class="wc-button-point" role="presentation"
														aria-hidden="true"></span> <span class="wc-button-text">More Info</span>
						</button>
					</div>
					<div class="panel-footer"></div>
				</div>
			</div>
			<div class="col-sm-2">
			  <!--  <div class="affix"> -->
				<div class="panel panel-primary">
					<div class="panel-heading">Upcoming Events</div>
					<div class="panel-body">
						<p>27th December 2016</p>
						<button class="btn btn-primary">Info</button>
					</div>
					<div class="panel-footer"></div>
				</div>
			</div>
			</div>
		<footer class="container-fluid text-center">
			<p>Copyright &copy 2016 FIBI</p>
		</footer>
		
		</div>
       </div>