<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>FIBI - For Indians By Indians</title>

<!-- Bootstrap Core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">
<link
	href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
	rel='stylesheet' type='text/css'>
<link
	href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
	rel='stylesheet' type='text/css'>

<!-- Plugin CSS -->
<link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

<!-- Theme CSS -->
<link href="css/creative.min.css" rel="stylesheet">
<link href="css/fibi.css" rel="stylesheet">
<link href="css/fibitravel.css" rel="stylesheet">

<link rel="stylesheet" href="css/ngProgress.css" />

<link href="css/angular-datepicker.css" rel="stylesheet" type="text/css" />

<link rel="icon" href="img/FIBITransparentLogo.png">

<!-- <script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
 -->

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script type="text/javascript"
	src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDTlG6RUSKEJzv3KaMWHm2heOUllDz4dzM&libraries=places&sensor=false"></script>

<script src="js/angular-datepicker.js"></script>

<script src="js/ngAutoComplete.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>


</head>



<body id="page-top" ng-app="fibiApp" ng-controller="userHomeController">
	<!-- <nav class="navbar navbar-default" role="navigation"> -->
	<!-- <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
 -->
	<!-- <nav id="mainNav" class="navbar navbar-inverse navbar-white navbar-fixed-top"> -->

	<div ng-view></div>
	<nav class="navbar navbar-inverse navbar-white sidebar"
		role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-">
				<!-- <button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <i
						class="fa fa-bars"></i>
				</button> -->

				<a class="navbar-brand" rel="home" href="#" title="fibi"> <img
					style="max-width: 66px; margin-top: -21px; margin-left: 25%"
					src="img/FIBITransparentLogo.png">
				</a>
			</div>

			<!-- <div class="collapse navbar-collapse"
				id="bs-sidebar-navbar-collapse-1"> -->
			<div style="margin-top: 20%;">
				<ul class="nav navbar-nav">
					<li class="active"><a data-toggle="tab" href="#home"
						ng-click="showHome()">Home<span style="font-size: 16px;"
							class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
					<li><a data-toggle="tab" href="#profile"
						ng-click="showProfile()">Profile<span style="font-size: 16px;"
							class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
					<li><a data-toggle="tab" href="#messages"
						ng-click="showMessages()">Messages<span
							style="font-size: 16px;"
							class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">My Communities <span class="caret"></span><span
							style="font-size: 16px;"
							class="pull-right hidden-xs showopacity glyphicon glyphicon-globe"></span></a>
						<ul class="dropdown-menu forAnimate" role="menu">
							<li><a href="#messageBoard" data-toggle="tab"
								ng-click="showCommunityMessageBoard()">{{greeting.community}}<span
									style="font-size: 16px;"
									class="pull-right hidden-xs showopacity glyphicon glyphicon-menu-right"></span></a></li>
							<!-- <li class="divider"></li>-->
						</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">Services <span class="caret"></span><span
							style="font-size: 16px;"
							class="pull-right hidden-xs showopacity glyphicon glyphicon-heart"></span></a>
						<ul class="dropdown-menu forAnimate" role="menu">
							<li><a data-toggle="tab" href="#travels"
								ng-click="showTravels()">Travel <span
									style="font-size: 16px;"
									class="pull-right hidden-xs showopacity glyphicon glyphicon-plane"></span></a></li>
							<li><a data-toggle="tab" href="#apartments"
								ng-click="showApartments()">Apartments<span
									style="font-size: 16px;"
									class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
							<li><a data-toggle="tab" href="#restaurants"
								ng-click="showRestaurants()">Restaurants<span
									style="font-size: 16px;"
									class="pull-right hidden-xs showopacity glyphicon glyphicon-cutlery"></span></a></li>
							<li><a data-toggle="tab" href="#events"
								ng-click="showEvents()">Events<span style="font-size: 16px;"
									class="pull-right hidden-xs showopacity glyphicon glyphicon-pushpin"></span></a></li>
							<li><a data-toggle="tab" href="#useditems"
								ng-click="showUseditems()">Used Items<span
									style="font-size: 16px;"
									class="pull-right hidden-xs showopacity glyphicon glyphicon-book"></span></a></li>
							<!-- <li class="divider"></li>-->
						</ul></li>
					<li><a data-toggle="tab" href="#" ng-click="logout()">Logout<span
							style="font-size: 16px;"
							class="pull-right hidden-xs showopacity glyphicon glyphicon-log-out"></span></a></li>
				</ul>
			</div>
			<!-- </div> -->
		</div>
	</nav>

	<!--  <div id="page-content"> -->

	<!-- <div class="container" > -->
	<!-- Modal -->
	<div class="modal" id="SearchResultsModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Search Results</h4>
				</div>
				<div class="modal-body">
					<!-- <a class="custom-close"> Result 1</a> -->
					<!--                     <p>{{searchResult}}</p>
 -->
					<div class="table-responsive">
						<table class="table" border="1" id="resultsTable">
							<thead class="thead-inverse">
								<td>Name</td>
								<td>Departure Date</td>
								<td>Flight No</td>
								<td>Weight(kgs)</td>
								<td>Contact(Email)</td>
							</thead>
							<tbody ng-repeat="result in searchResult">
								<tr>
									<td>{{result.user.firstName}}</td>
									<td>{{result.startDate}}</td>
									<td>{{result.flightNo}}</td>
									<td>{{result.weight}}</td>
									<td style="width: 16%;"><a
										href="mailto:{{result.user.email}}?Subject=Hello%20{{result.user.firstName}}"
										target="_top"> <!-- <img src="img/email-send-icon.png"/></a> -->
											<img src="img/email-send-icon.png"
											style="width: 42%; margin-left: 28%;"></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
 
	<div id="map" ng-show="showmap"></div>
	
	<!-- DIV CONTAINER -->
	<header>
		<div class="header-content">
			<div ng-show="showhome" class="header-content-inner">
				<div id="profilePic">
					<img src="{{greeting.profilePic}}" alt="ProfilePicture"
						style="width: 20%">
				</div>
				<br />
				<p>Welcome {{greeting.firstName}} !</p>
			</div>
			<div ng-show="showprofile" class="header-content-inner">
				<p>Profile</p>
				<p>Coming Soon!</p>
			</div>
			<div ng-show="showcommunitymessageboard" class="header-content-inner">
				<form name="form" role="form">
					<div class="container">
						<div class="row " style="padding-top: 40px;">
							<!-- <h3">Messsage Board</h3> -->
							<br />

							<div class="col-md-10">
								<div class="panel panel-info">
									<div class="panel-heading">Message Board</div>
									<div id="scrollBarDiv" class="pre-scrollable">
										<div class="panel-body">
											<ul class="media-list">
												<li class="media"
													ng-repeat="message in messageBoardMessages">
													<div style="color: #202223;">
														<div>
															<a class="pull-left" href="#"> <img
																class="media-object img-circle "
																src="img/avatarchat.png" />
															</a>
															<div>
																{{message.message}} <br /> <small class="text-muted">
																	{{message.user.firstName}} | {{message.postedDate}}</small>
																<hr style="max-width: 500%; border-color: antiquewhite;">
															</div>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
									<div class="panel-footer">
										<div class="input-group">
											<input type="text" id="messageText" class="form-control"
												ng-model="controller.postMessage"
												placeholder="Enter Message" /> <span
												class="input-group-btn">
												<button class="btn btn-info"
													ng-click="postMessage(greeting.community,greeting.userId,greeting.firstName)"
													type="submit">Post Message</button>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>

			<div ng-show="showtravels" class="header-content-inner">
				<div>
					<p>Choose your option</p>
					<form name="form" role="form">
						<button type="submit" ng-click="redirectToSearchTravel()"
							class="btn btn-primary">Travellers</button>
						<button type="submit" ng-click="redirectToTravelDetails()"
							class="btn btn-primary">I'm Travelling</button>
					</form>
				</div>
			</div>
			<div ng-show="showmessages" class="header-content-inner">
				<p>Messages</p>
				<p>Coming Soon!</p>
			</div>
			<div ng-show="showapartments" class="header-content-inner">
				<p>Apartments</p>
				<p>Coming Soon!</p>
			</div>
		    <div ng-show="showrestaurants" class="header-content-inner">
				<div class="button_box2">
					<form class="form-wrapper-2 cf">
						<input type="text" placeholder="City name" id="Autocomplete"
							class="form-control" ng-autocomplete="result1" details="details1"
							options="options1" required>
						<button type="submit" ng-click="getRestaurants()">Locate</button>
					</form>
				</div>
			</div>
			<div ng-show="showevents" class="header-content-inner">
				<p>Events</p>
				<p>Coming Soon!</p>
			</div>
			<div ng-show="showuseditems" class="header-content-inner">
				<p>Used Items</p>
				<p>Coming Soon!</p>
			</div>

			<div ng-show="showSearchTravel" class="header-content-inner">
				<div>
					<form name="form" role="form">
						<div id="home-content">
							<section id="js-search-controls-container"
								class="search-controls   opaque-on-desktop">
								<form class="clearfix">
									<section class="traditional-search clearfix">
										<h3>Search Travellers</h3>
										<div id="js-places" class="search-controls-places clearfix">
											<div class="origin-place" style="direction: ltr;">
												<label for="js-origin-input" class="place-label">From</label>
												<input type="text" id="js-origin-input"
													placeholder="Enter departure airport"
													ng-model="controller.searchDetails.from" tabindex="1"
													autocomplete="off" autocorrect="off" autocapitalize="off"
													spellcheck="false" class="tt-input" dir="auto"
													style="position: relative; vertical-align: top;">
												<pre aria-hidden="true"
													style="position: absolute; visibility: hidden; white-space: pre; font-family: -apple-system, BlinkMacSystemFont,&amp; amp; amp; amp; quot; Segoe UI&amp;amp; amp; amp; quot; , Roboto , Oxygen, Ubuntu, Cantarell, &amp;amp; amp; amp; quot; Fira Sans&amp;amp; amp; amp; quot; , &amp; amp; amp; amp; quot; Droid Sans&amp;amp; amp; amp; quot; , &amp; amp; amp; amp; quot; Helvetica Neue&amp;amp; amp; amp; quot; , Arial , sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
												<span class="tt-dropdown-menu"
													style="position: absolute; left: 0px; z-index: 100; display: none; right: auto;"><div
														class="tt-dataset-origin"></div></span>
											</div>
											<button type="button" ng-click="swapLocations()"
												id="js-places-toggle" class="swap-button"
												title="Click here to swap locations">
												<span class="visuallyhidden">Click here to swap
													locations</span>
											</button>
											<div class="destination-place" style="direction: ltr;">
												<label for="js-destination-input" class="place-label">To</label>
												<input type="text" id="js-destination-input"
													placeholder="Enter destination airport"
													ng-model="controller.searchDetails.to" tabindex="1"
													autocomplete="off" autocorrect="off" autocapitalize="off"
													spellcheck="false" class="tt-input" dir="auto"
													style="position: relative; vertical-align: top;">
												<pre aria-hidden="true"
													style="position: absolute; visibility: hidden; white-space: pre; font-family: -apple-system, BlinkMacSystemFont,&amp; amp; amp; amp; quot; Segoe UI&amp;amp; amp; amp; quot; , Roboto , Oxygen, Ubuntu, Cantarell, &amp;amp; amp; amp; quot; Fira Sans&amp;amp; amp; amp; quot; , &amp; amp; amp; amp; quot; Droid Sans&amp;amp; amp; amp; quot; , &amp; amp; amp; amp; quot; Helvetica Neue&amp;amp; amp; amp; quot; , Arial , sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
												<span class="tt-dropdown-menu"
													style="position: absolute; left: 0px; z-index: 100; display: none; right: auto;"><div
														class="tt-dataset-destination"></div></span>
											</div>
											<div class="origin-place" style="direction: ltr;">
												<label for="js-origin-input" class="place-label">Start
													Date</label>
												<datepicker date-format="MMMM d, y"> <input
													type="text" placeholder="Enter start date"
													ng-model="controller.searchDetails.startDate"
													id="js-destination-input" tabindex="1" autocomplete="off"
													autocorrect="off" autocapitalize="off" spellcheck="false"
													class="tt-input" dir="auto"
													style="position: relative; vertical-align: top;" /> </datepicker>
												<pre aria-hidden="true"
													style="position: absolute; visibility: hidden; white-space: pre; font-family: -apple-system, BlinkMacSystemFont,&amp; amp; amp; amp; quot; Segoe UI&amp;amp; amp; amp; quot; , Roboto , Oxygen, Ubuntu, Cantarell, &amp;amp; amp; amp; quot; Fira Sans&amp;amp; amp; amp; quot; , &amp; amp; amp; amp; quot; Droid Sans&amp;amp; amp; amp; quot; , &amp; amp; amp; amp; quot; Helvetica Neue&amp;amp; amp; amp; quot; , Arial , sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
												<span class="tt-dropdown-menu"
													style="position: absolute; left: 0px; z-index: 100; display: none; right: auto;"><div
														class="tt-dataset-origin"></div></span>
											</div>
											<div class="destination-place" style="direction: ltr;">
												<label for="js-destination-input" class="place-label">End
													Date</label>
												<datepicker date-format="MMMM d, y"> <input
													type="text" ng-model="controller.searchDetails.endDate"
													placeholder="Enter end date" id="js-destination-input"
													tabindex="1" autocomplete="off" autocorrect="off"
													autocapitalize="off" spellcheck="false" class="tt-input"
													dir="auto" style="position: relative; vertical-align: top;" />
												</datepicker>
												<pre aria-hidden="true"
													style="position: absolute; visibility: hidden; white-space: pre; font-family: -apple-system, BlinkMacSystemFont,&amp; amp; amp; amp; quot; Segoe UI&amp;amp; amp; amp; quot; , Roboto , Oxygen, Ubuntu, Cantarell, &amp;amp; amp; amp; quot; Fira Sans&amp;amp; amp; amp; quot; , &amp; amp; amp; amp; quot; Droid Sans&amp;amp; amp; amp; quot; , &amp; amp; amp; amp; quot; Helvetica Neue&amp;amp; amp; amp; quot; , Arial , sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
												<span class="tt-dropdown-menu"
													style="position: absolute; left: 0px; z-index: 100; display: none; right: auto;"><div
														class="tt-dataset-origin"></div></span>
											</div>
										</div>
										<button class="btn btn-primary" tabindex="1"
											data-toggle="modal" data-target="#SearchResultsModal"
											ng-click="searchTravellers()">
											<span class="wc-button-point" role="presentation"
												aria-hidden="true"></span> <span class="wc-button-text">Search</span>
										</button>
									</section>
								</form>
							</section>
						</div>
					</form>
				</div>
			</div>

			<div ng-show="showImTravelling" class="header-content-inner">
				<div id="travelDetailsDiv">
					<form name="form" role="form">
						<fieldset>
							<legend>Travel Details</legend>
							<div class="form-group">
								<label for="from">From:</label> <input type="text"
									class="form-control" id="from" name="from"
									ng-model="controller.travelDetails.from"
									placeholder="Departure City" ng-required="true" />
							</div>
							<div class="form-group">
								<label for="to">To:</label> <input type="text"
									class="form-control" id="to" name="to"
									ng-model="controller.travelDetails.to"
									placeholder="Destination City" ng-required="true" />
							</div>
							<div class="form-group">
								<label for="country">Departure Date:</label> <input
									type="datetime-local" class="form-control" id="datetime"
									name="datetime" placeholder="Date of Departure"
									ng-model="controller.travelDetails.datetime" />
							</div>

							<div class="form-group">
								<label for="flightNo">Flight No:</label> <input type="text"
									class="form-control" id="flightNo" name="flightNo"
									placeholder="Flight No"
									ng-model="controller.travelDetails.flightNo" />
							</div>
							<div class="form-group">
								<label for="weight">Weight you can carry:</label> <input
									type="text" class="form-control" id="weight" name="weight"
									placeholder="Weight in kgs"
									ng-model="controller.travelDetails.weight" />
							</div>

						</fieldset>
						<button ng-disabled="form.$invalid" class="btn btn-primary"
							ng-click="saveTravelDetails()">Submit</button>
						<!-- <button type="button" ng-click="redirectToHome()" class="btn btn-primary">Home</button> -->
					</form>

				</div>
			</div>
		</div>
	</header>

	<!-- </div> -->

	<!-- jQuery -->
	<script src="vendor/jquery/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

	<!-- Plugin JavaScript -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script src="vendor/scrollreveal/scrollreveal.min.js"></script>
	<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

	<!-- Theme JavaScript -->
	<script src="js/creative.min.js"></script>

	<script src="js/angular-bootstrap.js" type="text/javascript"></script>
	<!-- FIBI Js -->
	<script src="js/fibiApp.js"></script>

	<script type="text/javascript" src="js/ngprogress.js"></script>

</body>

</html>
